element.style {
    background: black;
  }
  body {
  display: block;
  margin: 8px;
  
  }
  body {
    color: white;
    background: black;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
element.style {
    background: red;
}

section {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(84, 91, 192);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
element.style {
    padding-bottom: 80px;
}
section {
    background: rgb(184, 156, 213);
}

section {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
div {
    margin-right: 20px;
}
/* c贸digo omitido */

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
.chamada-texto {
    margin-right: 20px;
}
body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  /* c贸digo omitido */

img {
    height: 200px;
}
/* c贸digo omitido */

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}
body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

/* c贸digo escondido */
.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }